/* global.css */
@font-face {
    font-family: 'pretendardRegular';
    src: url('../fonts/PRETENDARD-REGULAR.TTF') format('TTF');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pretendardBold';
    src: url('../fonts/PRETENDARD-BOLD.TTF') format('TTF');
    font-weight: normal;
    font-style: normal;
}


:root{
    /* 폰트 */
    --font-family-regular: 'pretendardRegular', sans-serif;
    --font-family-bold: 'pretendardBold', sans-serif;


    /* 색상 */
    --neutral-color-base: #8E979B;
    --neutral-color-200: #d4d8d9;
    --neutral-color-50: #f7f8f8;

    --positive-color-100: #d0f5e1;

    --base-color-white: #ffffff;
    --base-color-black: #030712;

    --primary-color-base: #64c6f0;
    --primary-color-100: #def3fc;
    --primary-color-700: #1288ba;
    --primary-color-50: #f1fafe; 
    --primary-color-300: #a2ddf6;
    
    --secondary-color-base: #41809b;

    --negative-color-100: #fcd9de;

    --warning-color-100: #fff3d1;

    --info-color-base: #295bff; 
 
}

:root {
    --display-large-font-family: "Pretendard", Helvetica;
    --display-large-font-weight: 700;
    --display-large-font-size: 66px;
    --display-large-letter-spacing: 1px;
    --display-large-line-height: 150%;
    --display-large-font-style: normal;
    --display-medium-font-family: "Pretendard", Helvetica;
    --display-medium-font-weight: 700;
    --display-medium-font-size: 50px;
    --display-medium-letter-spacing: 1px;
    --display-medium-line-height: 150%;
    --display-medium-font-style: normal;
    --display-small-font-family: "Pretendard", Helvetica;
    --display-small-font-weight: 700;
    --display-small-font-size: 40px;
    --display-small-letter-spacing: 1px;
    --display-small-line-height: 150%;
    --display-small-font-style: normal;
    --heading-large-font-family: "Pretendard", Helvetica;
    --heading-large-font-weight: 700;
    --heading-large-font-size: 50px;
    --heading-large-letter-spacing: 1px;
    --heading-large-line-height: 150%;
    --heading-large-font-style: normal;
    --heading-medium-font-family: "Pretendard", Helvetica;
    --heading-medium-font-weight: 700;
    --heading-medium-font-size: 40px;
    --heading-medium-letter-spacing: 1px;
    --heading-medium-line-height: 150%;
    --heading-medium-font-style: normal;
    --heading-small-font-family: "Pretendard", Helvetica;
    --heading-small-font-weight: 700;
    --heading-small-font-size: 32px;
    --heading-small-letter-spacing: 1px;
    --heading-small-line-height: 150%;
    --heading-small-font-style: normal;
    --title-xxlarge-font-family: "Pretendard", Helvetica;
    --title-xxlarge-font-weight: 700;
    --title-xxlarge-font-size: 32px;
    --title-xxlarge-letter-spacing: 1px;
    --title-xxlarge-line-height: 150%;
    --title-xxlarge-font-style: normal;
    --title-xlarge-font-family: "Pretendard", Helvetica;
    --title-xlarge-font-weight: 700;
    --title-xlarge-font-size: 25px;
    --title-xlarge-letter-spacing: 0px;
    --title-xlarge-line-height: 150%;
    --title-xlarge-font-style: normal;
    --title-large-font-family: "Pretendard", Helvetica;
    --title-large-font-weight: 700;
    --title-large-font-size: 21px;
    --title-large-letter-spacing: 0px;
    --title-large-line-height: 150%;
    --title-large-font-style: normal;
    --title-medium-font-family: "Pretendard", Helvetica;
    --title-medium-font-weight: 700;
    --title-medium-font-size: 19px;
    --title-medium-letter-spacing: 0px;
    --title-medium-line-height: 150%;
    --title-medium-font-style: normal;
    --title-small-font-family: "Pretendard", Helvetica;
    --title-small-font-weight: 700;
    --title-small-font-size: 17px;
    --title-small-letter-spacing: 0px;
    --title-small-line-height: 150%;
    --title-small-font-style: normal;
    --title-xsmall-font-family: "Pretendard", Helvetica;
    --title-xsmall-font-weight: 700;
    --title-xsmall-font-size: 15px;
    --title-xsmall-letter-spacing: 0px;
    --title-xsmall-line-height: 150%;
    --title-xsmall-font-style: normal;
    --body-large-font-family: "Pretendard", Helvetica;
    --body-large-font-weight: 400;
    --body-large-font-size: 19px;
    --body-large-letter-spacing: 0px;
    --body-large-line-height: 150%;
    --body-large-font-style: normal;
    --body-medium-font-family: "Pretendard", Helvetica;
    --body-medium-font-weight: 400;
    --body-medium-font-size: 17px;
    --body-medium-letter-spacing: 0px;
    --body-medium-line-height: 150%;
    --body-medium-font-style: normal;
    --body-small-font-family: "Pretendard", Helvetica;
    --body-small-font-weight: 400;
    --body-small-font-size: 15px;
    --body-small-letter-spacing: 0px;
    --body-small-line-height: 150%;
    --body-small-font-style: normal;
    --detail-large-font-family: "Pretendard", Helvetica;
    --detail-large-font-weight: 400;
    --detail-large-font-size: 17px;
    --detail-large-letter-spacing: 0px;
    --detail-large-line-height: 150%;
    --detail-large-font-style: normal;
    --detail-medium-font-family: "Pretendard", Helvetica;
    --detail-medium-font-weight: 400;
    --detail-medium-font-size: 15px;
    --detail-medium-letter-spacing: 0px;
    --detail-medium-line-height: 150%;
    --detail-medium-font-style: normal;
    --detail-small-font-family: "Pretendard", Helvetica;
    --detail-small-font-weight: 400;
    --detail-small-font-size: 13px;
    --detail-small-letter-spacing: 0px;
    --detail-small-line-height: 150%;
    --detail-small-font-style: normal;
    --label-large-font-family: "Pretendard", Helvetica;
    --label-large-font-weight: 400;
    --label-large-font-size: 19px;
    --label-large-letter-spacing: 0px;
    --label-large-line-height: 150%;
    --label-large-font-style: normal;
    --label-medium-font-family: "Pretendard", Helvetica;
    --label-medium-font-weight: 400;
    --label-medium-font-size: 17px;
    --label-medium-letter-spacing: 0px;
    --label-medium-line-height: 150%;
    --label-medium-font-style: normal;
    --label-small-font-family: "Pretendard", Helvetica;
    --label-small-font-weight: 400;
    --label-small-font-size: 15px;
    --label-small-letter-spacing: 0px;
    --label-small-line-height: 150%;
    --label-small-font-style: normal;
    --label-xsmall-font-family: "Pretendard", Helvetica;
    --label-xsmall-font-weight: 400;
    --label-xsmall-font-size: 13px;
    --label-xsmall-letter-spacing: 0px;
    --label-xsmall-line-height: 150%;
    --label-xsmall-font-style: normal;
    --primitives-base-white: rgba(255, 255, 255, 1);
    --primitives-base-black: rgba(3, 7, 18, 1);
    --primitives-neutral-visibility: initial;
    --primitives-neutral-base: var(--primitives-neutral-500);
    --primitives-neutral-50: rgba(247, 248, 248, 1);
    --primitives-neutral-100: rgba(230, 232, 233, 1);
    --primitives-neutral-200: rgba(212, 216, 217, 1);
    --primitives-neutral-300: rgba(192, 197, 200, 1);
    --primitives-neutral-400: rgba(174, 181, 184, 1);
    --primitives-neutral-500: rgba(142, 151, 155, 1);
    --primitives-neutral-600: rgba(104, 116, 122, 1);
    --primitives-neutral-700: rgba(66, 82, 89, 1);
    --primitives-neutral-800: rgba(53, 70, 77, 1);
    --primitives-neutral-900: rgba(28, 47, 55, 1);
    --primitives-neutral-950: rgba(3, 24, 33, 1);
    --primitives-primary-visibility: initial;
    --primitives-primary-base: var(--primitives-primary-500);
    --primitives-primary-50: rgba(241, 250, 254, 1);
    --primitives-primary-100: rgba(222, 243, 252, 1);
    --primitives-primary-200: rgba(195, 233, 249, 1);
    --primitives-primary-300: rgba(162, 221, 246, 1);
    --primitives-primary-400: rgba(129, 209, 243, 1);
    --primitives-primary-500: rgba(100, 198, 240, 1);
    --primitives-primary-600: rgba(36, 175, 234, 1);
    --primitives-primary-700: rgba(18, 136, 186, 1);
    --primitives-primary-800: rgba(12, 92, 126, 1);
    --primitives-primary-900: rgba(6, 44, 60, 1);
    --primitives-primary-950: rgba(3, 24, 33, 1);
    --primitives-secondary-visibility: initial;
    --primitives-secondary-base: var(--primitives-secondary-500);
    --primitives-secondary-50: rgba(233, 242, 246, 1);
    --primitives-secondary-100: rgba(215, 232, 238, 1);
    --primitives-secondary-200: rgba(172, 206, 220, 1);
    --primitives-secondary-300: rgba(133, 182, 204, 1);
    --primitives-secondary-400: rgba(93, 159, 187, 1);
    --primitives-secondary-500: rgba(65, 128, 155, 1);
    --primitives-secondary-600: rgba(53, 104, 126, 1);
    --primitives-secondary-700: rgba(39, 77, 93, 1);
    --primitives-secondary-800: rgba(26, 50, 61, 1);
    --primitives-secondary-900: rgba(14, 27, 32, 1);
    --primitives-secondary-950: rgba(6, 12, 14, 1);
    --primitives-tertiary-visibility: initial;
    --primitives-tertiary-base: var(--primitives-tertiary-500);
    --primitives-tertiary-50: rgba(226, 238, 243, 1);
    --primitives-tertiary-100: rgba(197, 221, 231, 1);
    --primitives-tertiary-200: rgba(140, 187, 207, 1);
    --primitives-tertiary-300: rgba(82, 154, 183, 1);
    --primitives-tertiary-400: rgba(54, 108, 130, 1);
    --primitives-tertiary-500: rgba(29, 58, 70, 1);
    --primitives-tertiary-600: rgba(24, 48, 58, 1);
    --primitives-tertiary-700: rgba(18, 36, 43, 1);
    --primitives-tertiary-800: rgba(12, 24, 29, 1);
    --primitives-tertiary-900: rgba(6, 12, 14, 1);
    --primitives-tertiary-950: rgba(3, 6, 7, 1);
    --primitives-quaternary-visibility: initial;
    --primitives-quaternary-base: var(--primitives-quaternary-500);
    --primitives-quaternary-50: rgba(0, 0, 0, 1);
    --primitives-quaternary-100: rgba(0, 0, 0, 1);
    --primitives-quaternary-200: rgba(0, 0, 0, 1);
    --primitives-quaternary-300: rgba(0, 0, 0, 1);
    --primitives-quaternary-400: rgba(0, 0, 0, 1);
    --primitives-quaternary-500: rgba(0, 0, 0, 1);
    --primitives-quaternary-600: rgba(0, 0, 0, 1);
    --primitives-quaternary-700: rgba(0, 0, 0, 1);
    --primitives-quaternary-800: rgba(0, 0, 0, 1);
    --primitives-quaternary-900: rgba(0, 0, 0, 1);
    --primitives-quaternary-950: rgba(0, 0, 0, 1);
    --primitives-positive-visibility: initial;
    --primitives-positive-base: var(--primitives-positive-500);
    --primitives-positive-50: rgba(230, 250, 238, 1);
    --primitives-positive-100: rgba(208, 245, 225, 1);
    --primitives-positive-200: rgba(162, 236, 194, 1);
    --primitives-positive-300: rgba(115, 226, 164, 1);
    --primitives-positive-400: rgba(69, 217, 133, 1);
    --primitives-positive-500: rgba(39, 190, 105, 1);
    --primitives-positive-600: rgba(31, 152, 84, 1);
    --primitives-positive-700: rgba(23, 114, 63, 1);
    --primitives-positive-800: rgba(16, 76, 42, 1);
    --primitives-positive-900: rgba(8, 38, 21, 1);
    --primitives-positive-950: rgba(3, 17, 9, 1);
    --primitives-negative-visibility: initial;
    --primitives-negative-base: var(--primitives-negative-500);
    --primitives-negative-50: rgba(254, 236, 238, 1);
    --primitives-negative-100: rgba(252, 217, 222, 1);
    --primitives-negative-200: rgba(250, 179, 189, 1);
    --primitives-negative-300: rgba(247, 140, 156, 1);
    --primitives-negative-400: rgba(245, 102, 122, 1);
    --primitives-negative-500: rgba(242, 65, 90, 1);
    --primitives-negative-600: rgba(229, 16, 46, 1);
    --primitives-negative-700: rgba(172, 12, 34, 1);
    --primitives-negative-800: rgba(115, 8, 23, 1);
    --primitives-negative-900: rgba(57, 4, 11, 1);
    --primitives-negative-950: rgba(29, 2, 6, 1);
    --primitives-warning-visibility: initial;
    --primitives-warning-base: var(--primitives-warning-500);
    --primitives-warning-50: rgba(255, 248, 229, 1);
    --primitives-warning-100: rgba(255, 243, 209, 1);
    --primitives-warning-200: rgba(255, 229, 158, 1);
    --primitives-warning-300: rgba(255, 217, 112, 1);
    --primitives-warning-400: rgba(255, 203, 61, 1);
    --primitives-warning-500: rgba(255, 191, 15, 1);
    --primitives-warning-600: rgba(214, 157, 0, 1);
    --primitives-warning-700: rgba(163, 120, 0, 1);
    --primitives-warning-800: rgba(107, 79, 0, 1);
    --primitives-warning-900: rgba(56, 41, 0, 1);
    --primitives-warning-950: rgba(26, 19, 0, 1);
    --primitives-info-visibility: initial;
    --primitives-info-base: var(--primitives-info-500);
    --primitives-info-50: rgba(235, 239, 255, 1);
    --primitives-info-100: rgba(214, 224, 255, 1);
    --primitives-info-200: rgba(168, 189, 255, 1);
    --primitives-info-300: rgba(128, 157, 255, 1);
    --primitives-info-400: rgba(82, 122, 255, 1);
    --primitives-info-500: rgba(41, 91, 255, 1);
    --primitives-info-600: rgba(0, 55, 235, 1);
    --primitives-info-700: rgba(0, 42, 179, 1);
    --primitives-info-800: rgba(0, 27, 117, 1);
    --primitives-info-900: rgba(0, 14, 61, 1);
    --primitives-info-950: rgba(0, 7, 31, 1);
  }
  